.top {
    width: 100%;
    margin: 0px;
    padding: 48px calc(50% - 400px);
    background: linear-gradient(to left, #1560BD, #0CC5C9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 848px) { 
    .top {
        padding: 48px 24px;
    }
}

.viewAll {
    align-self: flex-end;
    text-decoration: underline;
    margin-top: 10px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.projectCard {
    flex: 1 1 0;
    border: 1px dotted rgba(0, 0, 0, 0.2);
    min-width: 300px;
    min-height: 100px;
    padding: 20px;
    margin: 5px;
}

.projectCard:hover {
    background: linear-gradient(to left, #1560BD, #0CC5C9);
    border: 1px solid white;
}

.projectCard:hover p {
    color: white;
}

.projectBasic {
    display: flex;
    flex-direction: row;
}

.projectType {
    color: grey;
    margin-top: 0px;
}

.projectName {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

.projectDesc {
    margin-top: 0px;
}

.blogList {
    list-style-type: none;
    padding: 0px;
}

.blogList li span{
    color: grey;
}

.blogList li a{
    font-weight: bold;
    margin-left: 10px;
}