.top {
    width: 100%;
    margin: 0px;
    padding: 48px calc(50% - 400px);
    background: linear-gradient(to left, #1560BD, #0CC5C9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 848px) { 
    .top {
        padding: 48px 24px;
    }
}

.viewAll {
    align-self: flex-end;
    text-decoration: underline;
    margin-top: 10px;
}