.children {
    min-height: 500px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 24px calc(50% - 500px);
    color: white;
    background: linear-gradient(to left, #1560BD, #0CC5C9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 24px calc(50% - 500px);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 1048px) { 
    .header, .footer {
        padding: 24px;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.nav li {
    text-decoration: none;
    padding: 0px 10px;
}

.nav li:first-child {
    padding-left: 0px;
    margin-right: 20px;
}

.nav a:hover {
    border-bottom: 2px solid white ;
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    color: #1560BD;
}

.footer span {
    margin-bottom: 8px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: grey;
    font-size: 14px;
}

.tools span {
    margin-top: 2px;
    margin-right: 24px;
}

.tools span:last-child {
    margin-right: 0px;
}